body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
color: darkgreen;
text-align: center;
font-size: 1600;
}
.eachHostel{
  color: burlywood;
  background-color: beige;
  border: 2px black;
  border-radius: 3px;
  font-size: medium;
  font-weight: bold;
  padding-left: 4%;
 overflow-anchor: scroll;
}
